<ion-header>
  <ion-toolbar>
    <ion-title>trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h1>Paices  </h1>

  <ion-list>

    <ion-item>
      <ion-avatar>
      
        <ion-img  src="../assets/imagenes/Brazil.jpg"></ion-img>
      </ion-avatar>
      <ion-label> Brazil </ion-label> 
          </ion-item>
          <p> Ouviram do Ipiranga às margens plácidas
De um povo heróico o brado retumbante,
E o sol da liberdade, em raios fúlgidos,
Brilhou no céu da Pátrianesse instante,
Se o penhor dessa igualdade
Conseguimos conquistar com braço forte,
Em teu seio, ó, Liberdade,
Desafia o nosso peito a própria morte!
Ó Pátria amada, Idolatrada, Salve! Salve!
Brasil, um sonho intenso, um raio vívido,
De amor e de esperança à terra desce,
Se em teu formoso céu, risonho e límpido,
A imagem do Cruzeiro resplandece.
Gigante pela própria natureza,
És belo, és forte, impávido colosso,
E o teu futuro espelha essa grandeza.
Terra adorada, Entre outras mil,
És tu, Brasil, Ó Pátria amada!
Dos filhos deste solo és mãe gentil,
Pátria amada, Brasil!
Deitado eternamente em berço esplêndido,
Ao som do mar e à luz do céu profundo,
Fulguras, ó Brasil, florão da América,
Iluminado ao sol do novo mundo!
Do que a terra mais garrida
Teus risonhos lindos campos tem mais flores,
"Nossos bosques tem mais vida"
"Nossa vida" no teu seio "mais amores".
Ó Pátria amada, Idolatrada, Salve! Salve!
Brasil, de amor eterno seja símbolo
O lábaro que ostentas estrelado,
E diga o verde-louro dessa flâmula
"Paz no futuro e glória no passado."
Mas se ergues da justiça a clava forte,
Verás que um filho teu não foge à luta,
Nem teme, quem te adora, a própria morte. </p>


      
    <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/argentina.png"></ion-img>
      </ion-avatar>
      <ion-label> ARGENTINA </ion-label> 
    </ion-item>

    <p>Oíd mortales, el grito sagrado
Libertad, libertad, libertad
Oíd el ruido de rotas cadenas
Ved el trono a la noble igualdad
Ya a su trono dignísimo abrieron
Las provincias unidas del sur
Y los libres del mundo responden
Al gran pueblo argentino salud
Al gran pueblo argentino salud
Y los libres del mundo responden
Al gran pueblo argentino salud
Y los libres del mundo responden
Al gran pueblo argentino salud
Sean eternos los laureles
Que supimos conseguir
Que supimos conseguir
Coronados de gloria
Vivamos
Oh, juremos con gloria morir
Oh, juremos con gloria morir
Oh, juremos con gloria morir </p>

     <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/bandera-colombia.jpg"></ion-img>
      </ion-avatar>
      <ion-label> COLOMBIA </ion-label> 
    </ion-item>
<p>¡Oh gloria inmarcesible!
¡Oh júbilo inmortal!
¡En surcos de Dolores
el bien germina ya!

ESTROFAS

I

¡Cesó la horrible noche!
La libertad sublime
derrama las auroras
de su invencible luz.
La humanidad entera,
que entre cadenas gime,
comprende las palabras
del que murió en la cruz.

II

"¡Independencia!" grita
el mundo americano;
se baña en sangre de héroes
la tierra de Colón.
Pero este gran principio:
"El rey no es soberano",
Resuena, y los que sufren
Bendicen su pasión.

III

Del Orinoco el cauce
se colma de despojos;
de sangre y llanto un río
se mira allí correr.
En Bárbula no saben
las almas ni los ojos,
si admiración o espanto
sentir o padecer.

IV

A orillas del Caribe
hambriento un pueblo lucha,
horrores prefiriendo
a pérfida salud.
¡Oh, sí! De Cartagena
la abnegación es mucha,
y escombros de la muerte
desprecia su virtud.

V

De Boyacá en los campos
el genio de la gloria
con cada espiga un héroe
invicto coronó.
Soldados sin coraza
ganaron la victoria;
su varonil aliento
de escudo les sirvió.

VI

Bolívar cruza el Ande
que riega dos océanos;
espadas cual centellas
fulguran en Junín.
Centauros indomables
descienden a los Llanos,
y empieza a presentirse
de la epopeya el fin.

VII

La trompa victoriosa
en Ayacucho truena;
y en cada triunfo crece
su formidable son.
En su expansivo empuje
la libertad se estrena,
del cielo americano
formando un pabellón.

VIII

La Virgen sus cabellos
arranca en agonía
y de su amor viuda
los cuelga del ciprés.
Lamenta su esperanza
que cubre losa fría,
pero glorioso orgullo
circunda su alba tez.

IX

La patria así se forma,
Termópilas brotando;
constelación de cíclopes
su noche iluminó.
La flor estremecida,
mortal el viento hallando,
debajo los laureles
seguridad buscó.

X

Mas no es completa gloria
vencer en la batalla,
que el brazo que combate
lo anima la verdad.
La independencia sola
al gran clamor no acalla;
si el sol alumbra a todos,
justicia es libertad.

XI

Del hombre los derechos
Nariño predicando,
el alma de la lucha
Profético enseñó.
Ricaurte en San Mateo
en átomos volando,
"Deber antes que vida",
con llamas escribió.</p>

     <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/peru.jpg"></ion-img>
      </ion-avatar>
      <ion-label> PERU </ion-label> 
    </ion-item>
    <p>CORO

¡Somos libres! ¡Seámoslo siempre!
Y antes niegue sus luces el sol,
Que faltemos al voto solemne
Que la patria al eterno elevó.


ESTROFA I

Ya el estruendo de broncas cadenas,
que escucharon tres siglos de horror
de los libres, al grito sagrado
que oyó atónito el mundo cesó.
Por doquier San Martín inflamado,
¡Libertad! ¡Libertad! pronunció;
y meciendo su base los Andes,
la enunciaron también a una voz.
¡Somos libres! etc.


ESTROFA II

Con su influjo los pueblos despiertan,
y cual rayo corrió la opinión,
desde el Istmo a las Tierras del Fuego,
desde el Fuego a la helada región.
Todos juran romper el enlace,
que natura a ambos mundos negó,
y quebrar ese cetro que España,
reclinaba orgullosa en los dos.
¡Somos libres! etc.


ESTROFA III

Lima cumple ese voto solemne,
y severa su enojo mostró,
al tirano impotente lanzando
que intentaba alargar su opresión.
A su esfuerzo saltaron los fierros
y los surcos que en sí reparó,
le atizaron el odio y venganza
que heredó de su Inca y señor.
¡Somos libres! etc.


ESTROFA IV

Compatriotas, no mas verla esclava,
si humillada tres siglos gimió,
para siempre jurémosla libre
manteniendo su propio esplendor.
Nuestros brazos hasta hoy desarmados,
estén siempre cebando el cañón,
que algún día las playas de Hesperia,
sentirán de su estruendo el terror.
¡Somos libres! etc.


ESTROFA V

Excitemos los celos de España,
pues presente con mengua y furor
que en el concurso de grandes naciones
nuestra patria entrará en parangón
Llenemos primero el reglón,
que el tirano ambicioso Iberino,
que la América toda asoló
¡Somos libres! etc.


ESTROFA VI

En sus cima los Andes sostengan
la bandera o pendón bicolor
que a los siglos anuncie el esfuerzo
que ser libres por siempre nos dio.
A su sombra posemos tranquilos
y al nacer por sus cumbres el sol
renovemos el gran juramento
que rendimos al Dios de Jacob
¡Somos libres! etc.</p>

     <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/CHILE_BANDERA.jpg"></ion-img>
      </ion-avatar>
      <ion-label> CHILE </ion-label> 
    </ion-item>
    <p>Puro Chile es tu cielo azulado,
Puras brisas te cruzan también,
Y tu campo de flores bordado,
Es la copia feliz del Edén.
Majestuosa es la blanca montaña
Que te dió por baluarte el Señor,

Que te dió por baluarte el Señor
Y ese mar que tranquilo te baña,
Te promete un futuro esplendor,

Y ese mar que tranquilo te baña,
Te promete un futuro esplendor.

CHORUS

Dulce Patria, recibe los votos
Con que Chile en tus aras juró
Que o la tumba serás de los libres
O el asilo contra la opresión,

Que o la tumba serás de los libres
O el asilo contra la opresión,

Que o la tumba serás de los libres
O el asilo contra la opresión,

O el asilo contra la opresión,

O el asilo contra la opresión.

Vuestros nombres valientes soldados,
Que habéis sido de Chile el sostén,
Nuestros pechos los llevan grabados;
Lo sabrán nuestros hijos también.
Sean ellos el grito de muerte
Que lancemos marchando a lidiar,
Y, sonando en la boca del fuerte,
Hagan siempre al tirano temblar.

CHORUS </p>

     <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/venezuela.jpg"></ion-img>
      </ion-avatar>
      <ion-label> VENEZUELA </ion-label> 
    </ion-item>
    <p>¡Abajo cadenas! (bis)
Gritaba el señor (bis)
Y el pobre en su choza
Libertad pidió:
A este santo nombre
Tembló de pavor
El vil egoísmo
Que otra vez triunfó.
Gloria al bravo pueblo
Que el yugo lanzó
La Ley respetando
La virtud y honor(bis)
II
Gritemos con brío (bis)
¡Muera la opresión! (bis)
Compatriotas fieles,
La fuerza es la unión;
Y desde el Empíreo
El Supremo Autor,
Un sublime aliento
Al pueblo infundió.
Gloria al bravo pueblo
Que el yugo lanzó
La Ley respetando
La virtud y honor(bis)
III
Unida con lazos (bis)
Que el cielo formó (bis)
La América toda
Existe en nación;
Y si el despotismo(bis)
Levanta la voz,
Seguid el ejemplo
Que Caracas dio.
Gloria al bravo pueblo
Que el yugo lanzó
La Ley respetando
La virtud y honor(bis)</p>

    <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/Ecuador.jpg"></ion-img>
      </ion-avatar>
      <ion-label> ECUADOR </ion-label> 
    </ion-item>
    <p>Salve oh Patria, ¡mil veces! ¬Oh Patria!
Gloria a ti! Y a tu pecho rebosa
Gozo y paz, y tu frente radiosa
Más que el sol contemplamos lucir
ESTROFAS
I
Indignados tus hijos del yugo
Que te impuso la ibérica audacia
De la injusta y horrenda desgracia
Que pesaba fatal sobre ti
Santa voz a los cielos alzaron
Voz de noble y sin par juramento
De vengarte del monstruo sangriento
De romper ese yugo servil
II
Los primeros los hijos del suelo
Que, soberbio; el Pichincha decora
Te aclamaron por siempre señora
Y vertieron su sangre por ti
Dios miró y aceptó el holocausto
Y esa sangre fue germen fecundo
De otros héroes que, atónito, el mundo
Vio en tu torno a millares surgir
III
De estos héroes al brazo de hierro
Nada tuvo invencible la tierra
Y del valle a la altísima sierra
Se escuchaba el fragor de la lid
Tras la lid la victoria volaba
Libertad tras el triunfo venía
Y al león destrozado se oía
De impotencia y despecho rugir
IV
Cedió al fin la fiereza española
Y hoy, oh Patria, tu libre existencia
Es la noble y magnifica herencia
Que nos dio, el heroísmo feliz
De las manos paternas la hubimos
Nadie intente arrancárnosla ahora
Ni nuestra ira excitar vengadora
Quiera, necio o audaz, contra sí
V
Nadie, oh Patria, lo intente. Las sombras
De tus héroes gloriosos nos miran
Y el valor y el orgullo que inspiran
Son augurios de triunfos por ti
Venga el hierro y el plomo fulmíneo
Que a la idea de guerra, y venganza
Se despierta la heroica pujanza
Que hizo al fiero español sucumbir
VI
Y si nuevas cadenas prepara
La injusticia de bárbara suerte
Gran Pichincha! prevén tú la muerte
De la patria y sus hijos al fin
Hunde al punto en tus hondas entrañas
Cuando existe en tu tierra: el tirano
Huelle sólo cenizas y en vano
Busque rastro de ser junto a ti</p>

     <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/bolivia.jpg"></ion-img>
      </ion-avatar>
      <ion-label> BOLIVIA </ion-label> 
    </ion-item>
<p>¡Bolivianos!... ¡el hado propicio
Coronó nuestros votos y anhelo!...
Es ya libre, ya libre este suelo,
Ya cesó su servil condición.
Al estruendo marcial que ayer fuera
Y al clamor de la guerra, horroroso,
Siguen hoy en contraste armonioso
Dulces himnos de paz y de unión.

Coro

De la Patria, el alto nombre
En glorioso esplendor conservemos...
Y, en sus aras de nuevo juremos:
¡morir antes que esclavos vivir!
¡morir antes que esclavos vivir!
(II)
Loor eterno a los bravos guerreros,
Cuyo heróico valor y firmeza,
Conquistaron las glorias que empieza
Hoy Bolivia feliz a gozar.
Que sus nombres el mármol y el bronce
A remotas edades transmitan
y en sonoros cantares repitan:
¡Libertad, Libertad, Libertad!

(III)

Aquí alzó la justicia su trono
que la vil opresión desconoce,
y en su timbre glorioso legose
libertad, libertad, libertad.
Esta tierra inocente y hermosa
que ha debido a Bolívar su nombre
es la patria feliz donde el hombre
goza el bien de la dicha y la paz.

(IV)

Si extranjero poder, algún día,
sojuzgar a Bolivia intentare,
al destino fatal se prepare
que amenaza a soberbio agresor.
Que los hijos del grande Bolívar
han ya mil y mil veces jurado morir
antes que ver humillado de la Patria
el augusto pendón.</p>
    <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/paraguay.jpg"></ion-img>
      </ion-avatar>
      <ion-label> PARAGUAY </ion-label> 
    </ion-item>
<p>A los pueblos de América in fausto,
Tres centurias un cetro oprimió,
Más un día soberbia surgiendo,
¡Basta!, dijo y el cetro rompió.
Nuestros padres lidiando grandiosos,
Ilustraron su gloria marcial;
Y trozada la augusta diadema,
Enalzaron el gorro triunfal.
Y trozada la augusta diadema,
Enalzaron el gorro triunfal.

Paraguayos, ¡República o Muerte!
Nuestro brío nos dió libertad;
Ni opresores, ni siervos, alientan,
Donde reinan unión, e igualdad,
unión e igualdad, unión e igualdad.
Donde reinan unión, e igualdad,
unión e igualdad, unión e igualdad.

Nueva Roma, la Patria ostentará
Dos caudillos de nombre y valer,
Que rivales, cual Rómulo y Remo,
dividieron gobierno y poder ...
Largos años, cual Febo entre nubes
Viose oculta la perla del Sud,
Hoy un héroe grandioso aparece
Realzando su gloria y virtud...

Con aplauso la Europa y el Mundo
La saludan, y aclaman también
De heroísmo valuarte invencible
De riquezas magnífico Edén
Cuando entorno rugió la Discordia
Que otros Pueblos fatal devoró,
Paraguayos, el suelo sagrado
Con sus alas un ángel cubrió.

¡Oh!, cuán pura, de lauro ceñida,
Dulce Patria te ostentas así
En tu enseña se ven los colores
Del zafiro, diamante y rubí.
En tu escudo que el sol ilumina,
Bajo el gorro se mira el león.
Doble imágen de fuertes y libres,
y de glorias, recuerdo y blasón.

De la tumba del vil feudalismo
Se alza libre la Patria deidad;
Opresores, ¡doblad rodilla!
Compatriotas ¡el Himno entonad!
Suene el grito, ¡República o Muerte!
Nuestros pechos lo exalen con fe,
Y sus ecos repitan los montes
Cual gigantes poniéndose en pie.

Libertad y Justicia defiende
Nuestra Patria; Tiranos, ¡oíd!
De sus fueros la carta sagrada
Su heroísmo sustenta en la lid.
Contra el mundo, si el mundo se opone,
Si intentare su prenda insultar,
Batallando vengar la sabremos
O abrazo con ella expirar.

Alza, oh Pueblo, tu espada esplendente
Que fulmina destellos de Dios,
No hay más medio que libre o esclavo
Y un abismo divide a los dos
En las auras el Himno resuene,
Repitiendo con eco triunfal:
¡A los Libres perínclita gloria!
¡A la Patria laurel inmortal! </p>
     <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/bandera-de-guyana.jpg"></ion-img>
      </ion-avatar>
      <ion-label> guayana</ion-label> 
    </ion-item>
<p>Dear land of Guyana, of rivers and plains
Made rich by the sunshine, and lush by the rains
Set gem like and fair, between mountains and sea
Your children salute you, dear land of the free

Green land of Guyana, our heroes of yore
Both bondsmen and free, laid their bones on your shore
This soil so they hallowed, and from them are we
All sons of one Mother, Guyana the free

Great land of Guyana, diverse though our strains
We are born of their sacrifice, heirs of their pains
And ours is the glory their eyes did not see
One land of six peoples, united and free

Dear land of Guyana, to you will we give
Our homage, our service, each day that we live
God guard you, great Mother, and make us to be
More worthy our heritage, land of the free </p>
     <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/guayana-Francesa.jpg"></ion-img>
      </ion-avatar>
      <ion-label> guayana Francesa </ion-label> 
    </ion-item>
<p> 
Allons enfants de la patrie,
Le jour de gloire est arrivé !
Contre nous de la tyrannie
L'étendard sanglant est levé (bis)

Entendez vous dans les campagnes,
Mugir ces féroces soldats ?
Ils viennent jusque dans nos bras
Egorger nos fils, nos compagnes

Refrain

Aux armes, citoyens
Formez vos bataillons
Marchons Marchons
Qu'un sang impur
Abreuve nos sillons

2eme couplet

Que veut cette horde d'esclaves,
de traitres, de rois conjures ?
Pour qui ces ignobles entraves,
Ces fers des longtemps preparés ? (bis)

Français pour nous, ah Quel outrage
Quels transports il doit exciter
C'est nous qu'on ose méditer
De rendre à l'antique esclavage

3ème couplet

Quoi Ces cohortes étrangères
Feraient la loi dans nos foyers
Quoi Ces phalanges mercenaires
Terrasseraient nos fiers guerriers (bis)

Grand Dieu ! Par des mains enchainées
Nos fronts sous le joug ploiraient
De vils despotes deviendraient
Les maîtres de nos destinées

4ème couplet

Tremblez tyrans ! Et vous, perfides,
L'opprobre de tous les partis,
Tremblez Vos projets parricides
Vont enfin recevoir leur prix (bis)

Tout est soldat pour vous combattre.
S'ils tombent, nos jeunes heros,
La France en produit de nouveaux,
Contre vous tout prêts à se battre

5ème couplet

Francais, en guerriers magnanimes,
Portez ou retenez vos coups
Epargnez ces tristes victimes,
A regret s'armant contre nous. (bis)

Mais ces despotes sanguinaires,
Mais ces complices de Boulle,
Tous ces tigres qui, sans pitié,
Déchirent le sein de leur mère !...

6ème couplet

Amour sacré de la patrie,
Conduis, soutiens nos bras vengeurs
Liberté, Liberté chérie,
Combats avec tes défenseurs (bis)

Sous nos drapeaux, que la victoire
Accoure à tes males accents
Que tes ennemis expirants
Voient ton triomphe et notre gloire

7ème couplet

Nous entrerons dans la carrière
Quand nos aînés n'y seront plus;
Nous y trouverons leur poussière
Et la trace de leurs vertus. (bis)

Bien moins jaloux de leur survivre
Que de partager leur cercueil,
Nous aurons le sublime orgueil
De les venger ou de les suivre. </p>

 <ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/uruguay.jpg"></ion-img>
      </ion-avatar>
      <ion-label> uruguay</ion-label> 
    </ion-item>
    
    <p>¡Orientales, la Patria ó la tumba!
¡Libertad ó con gloria morir!
¡Orientales, la Patria ó la tumba!
¡Libertad ó con gloria morir!

Es el voto que el alma pronuncia,
Y que heróicos sabremos cumplir.

Es el voto que el alma pronuncia,
Y que heróicos sabremos cumplir,
Que sabremos cumplir.
Es el voto que el alma pronuncia,
Y que heróicos sabremos cumplir,
Que sabremos cumplir.

¡Sabremos cumplir!
¡Sabremos cumplir, sabremos cumplir!


(II)

¡Libertad, libertad, Orientales!
Este grito a la Patria salvó,
Que a sus bravos en fieras batallas,
De entusiasmo sublime inflamó.
¡Libertad, libertad, Orientales!
Este grito a la Patria salvó,
Que a sus bravos en fieras batallas,
De entusiasmo sublime inflamó.

De este don sacrosanto
La Gloria merecimos
¡Tiranos temblad!
¡Tiranos temblad! ¡Tiranos temblad!

¡Libertad! en la lid clamaremos
y muriendo también Libertad.

¡Libertad! en la lid clamaremos
y muriendo también Libertad.
y muriendo también Libertad.
También Libertad
También Libertad
También Libertad
(I)

¡Orientales, la Patria ó la tumba!
¡Libertad ó con gloria morir!
¡Orientales, la Patria ó la tumba!
¡Libertad ó con gloria morir!

Es el voto que el alma pronuncia,
Y que heróicos sabremos cumplir.

Es el voto que el alma pronuncia,
Y que heróicos sabremos cumplir,
Que sabremos cumplir.
Es el voto que el alma pronuncia,
Y que heróicos sabremos cumplir,
Que sabremos cumplir.

¡Sabremos cumplir!
¡Sabremos cumplir, sabremos cumplir!</p>

<ion-item>
      <ion-avatar>
        <ion-img  src="../assets/imagenes/Surinam.jpg"></ion-img>
      </ion-avatar>
      <ion-label> Surinam</ion-label> 
    </ion-item>
    <p>
God zij met ons Suriname
Hij verheffe ons heerlijk land
Hoe wij hier ook samen kwamen
Aan zijn land zijn wij verpand
Werkend houden w'in gedachten
Recht en waarheid maken vrij
Al wat goed is te betrachten
Dat geeft aan ons land waardij.

Estrofa 2 (Sranan tongo)

Opo kondreman un' opo!
Sranangron e kari un.
Wans ope tata komopo
Wi'mu seti kondre bun.
Strey de’f strey wi no sa frede,
Gado de wi fesi man.
Eri libi te na dede
Wi sa feti gi Sranan!</p>
    

  </ion-list>
 </ion-content>
 



